<h1 class='s-h1'><%= @module.name %></h1>
<p class='s-p'><%= @module.inning.name %> inning</p>
<% if @module.google_sheet %>
  <%= link_to 'Attendance Sheet', @module.google_sheet.link, target: :_blank %>
<% else %>
  <p>Attendance Sheet: No Google Sheet associated with this module</p>
<% end %>
<p class='s-p'>Calendar Integration: <%= @module.calendar_integration ? 'ON':'OFF' %></p>


<%= link_to 'Take Attendance', new_turing_module_attendance_path(@module), class: 's-button' %>
<section id='past-attendances' class='s-content'>
  <h3 class='s-h3'>Past Attendances</h3>
  <table>
    <tr>
      <th>Meeting Title</th>
      <th>Start Time</th>
      <th>Zoom Meeting ID</th>
    </tr>
    <% @module.attendances.each do |attendance| %>
      <tr id='attendance-<%= attendance.id %>', class='attendance'>
        <td><%= link_to attendance.meeting_title, turing_module_attendance_path(@module, attendance) %></td>
        <td><%= attendance.meeting_time %></td>
        <td><%= attendance.zoom_meeting_id %></td>
      </tr>
    <% end %>
  </table>
</section>
