<h1 class='module-header'><%=link_to @module.name, turing_module_path(@module) %></h1><span><%= link_to "Students (#{@module.students.length})", turing_module_students_path(@module), class: 's-link' %></span>
<% if !@module.account_match_complete %>
  <p><%= link_to "Setup Module", turing_module_populi_integration_path(@module), class: 's-button' %></p>
<% else %>
  <%= render partial: 'shared/take_attendance', locals: {attendance: Attendance.new, mod: @module} %>
  <section id='past-attendances'>
    <h3 class='s-h3'>Past Attendances</h3>
    <table>
      <tr>
        <th>Meeting Title</th>
        <th>Attendance Time</th>
      </tr>
      <% @module.attendances.each do |attendance| %>
        <tr id='attendance-<%= attendance.id %>', class='attendance'>
          <td><%= link_to attendance.meeting.title, attendance_path(attendance) %></td>
          <td><%= pretty_time(attendance.attendance_time) %> - <%= pretty_date(attendance.attendance_time) %></td>
        </tr>
      <% end %>
    </table>
  </section>
  <h2>Other Options</h2>
  <p><%= link_to "Redo Module Setup", turing_module_populi_integration_path(@module), class: 's-button' %></p>
<% end %>