<h2><%= link_to @attendance.turing_module.name, turing_module_path(@attendance.turing_module) %></h2>
<% if @attendance.zoom_attendance %>
  <h3><%= @attendance.child.meeting_title %> - <%= @attendance.child.pretty_time %></h3>
  <h3>Meeting ID: <%= @attendance.child.zoom_meeting_id %></h3>
  <p>Use the zoom alias fields to correct student attendances</p>
<% elsif @attendance.slack_attendance %>
  <h3>Slack Thread - <%= @attendance.child.pretty_time %></h3>
  <h3>Channel ID: <%= @attendance.child.channel_id %></h3>
  <h3>Timestamp ID: <%= @attendance.child.sent_timestamp %></h3>
<% end %>

<%= form_with model: @attendance, local: true do |f| %>
  <%= f.label "Attendance Time:" %>
  <%= f.time_field :attendance_time %>
  <%= f.submit "Update Attendance Time" %>
<% end %>