<h2><%= link_to @module.name, turing_module_path(@module) %></h2>
<%# REFACTOR: We don't want to be checking classes here %>
<% if @attendance.child.respond_to? :zoom_meeting_id %>
  <h3><%= @attendance.child.meeting_title %> - <%= @attendance.child.pretty_time %></h3>
  <h3>Meeting ID: <%= @attendance.child.zoom_meeting_id %></h3>
<% elsif @attendance.child.respond_to? :channel_id %>
  <h3>Slack Thread - <%= @attendance.child.pretty_time %></h3>
  <h3>Channel ID: <%= @attendance.child.channel_id %></h3>
  <h3>Timestamp ID: <%= @attendance.child.sent_timestamp %></h3>
<% end %>
<h3>Attendance Time: <%= @attendance.pretty_attendance_time %></h3>
<table id='student-attendances' class="sortable">
  <thead>
    <tr>
      <th>Student</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance.student_attendances.by_attendance_status.each do |student_attendance| %>
      <tr id='student-attendance-<%= student_attendance.id %>' class='student-attendance'>
        <td><%= link_to student_attendance.student.name, student_path(student_attendance.student) %></td>
        <td class='<%= student_attendance.status %>'><%= student_attendance.status %></td>
        <% if student_attendance.absent? && @attendance.zoom_attendance  %>
          <td id='absent-student-<%= student_attendance.student.id %>'>
            <%= form_with  model: [@attendance, student_attendance.student] do |f| %>
              <%= f.select :zoom_alias, @facade.unclaimed_aliases_for(student_attendance.student) %>
              <%= f.submit "Save Zoom Alias" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
