<h2><%= link_to @module.name, turing_module_path(@module) %></h2>
<h3><%= @attendance.meeting_title %> - <%= @attendance.pretty_time %></h3>
<h3>Meeting ID: <%= @attendance.zoom_meeting_id %></h3>
<table id='student-attendances'>
  <tr>
    <th>Student</th>
    <th>Status</th>
    <th>Zoom ID</th>
  </tr>
  <% @attendance.student_attendances.by_attendance_status.each do |student_attendance| %>
    <tr id='student-attendance-<%= student_attendance.id %>'>
      <td><%= link_to student_attendance.student.name, student_path(student_attendance.student) %></td>
      <td class='<%= student_attendance.status %>'><%= student_attendance.status %></td>
      <td><%= student_attendance.student.zoom_email %></td>
      <td><%= student_attendance.student.zoom_id %></td>
      <% if student_attendance.visiting_student?  %>
        <td><%= button_to "Add New Student", student_path(student_attendance.student), params: {student: {turing_module_id: @module.id}}, method: :patch, class: 's-button s-button-primary' %></td> 
      <% end %>
    </tr>
  <% end %>
</table>
