<h2><%= link_to @module.name, turing_module_path(@module) %></h2>
<%= render partial: "shared/attendance_details", locals: {attendance: @attendance, updatable: true} %>
<%= link_to "Transfer Student Attendances to Populi", "/attendances/#{@attendance.id}/populi_transfer" %>
<% if @attendance.meeting_type == "ZoomMeeting" %>
  <%= render partial: "shared/zoom_attendance_table", locals: {facade: AttendanceShowFacade.new(@attendance)} %>  
<% else %>
  <%= render partial: "shared/slack_attendance_table", locals: {attendance: @attendance} %>  
<% end %>

