<h1><%= link_to @module.name, turing_module_path(@module) %></h1>
<%= link_to "Delete Attendance", attendance_path(@attendance), class: 's-button danger', data: { turbo: true, turbo_method: :delete, turbo_confirm: "WARNING!! \n\n Are you sure you want to delete this attendance?" } %>
<%= render partial: "shared/attendance_details", locals: {attendance: @attendance, updatable: true} %>

<h3><%= button_to "Retake Attendance", attendance_retake_path(@attendance), class: 's-button' %></h3>

<% if @attendance.meeting_type == "ZoomMeeting" %>
  <%= render partial: "shared/zoom_attendance_table", locals: {facade: AttendanceShowFacade.new(@attendance, updatable: true)} %>  
<% else %>
  <%= render partial: "shared/slack_attendance_table", locals: {facade: AttendanceShowFacade.new(@attendance, updatable: true)} %>  
<% end %>
