<h2>Import Slack Channel</h2>

  <%= form_with url: turing_module_slack_path(@module), local: true do |f| %>
    <p class='s-p'>
      <%= f.label :slack_channel_id, "Enter this cohort's channel id: " %>
      <%= f.text_field :slack_channel_id %>
    </p>
    <%= f.submit 'Import Channel', class: 's-button' %>
  <% end %>

<br><br>

<%= image_tag('channel_id_gif.gif') %>