<h1>Edit Inning Form</h1>

<%= form_with model: @inning, local: true do |f| %>
  <p class='s-p'>
    <%= f.label :name, 'Name: ' %>
    <%= f.text_field :name %>
  </p>
  <p class='s-p'>
    <%= f.label :date, 'Start Date: ' %>
    <%= f.date_field :start_date %>
  </p>
    <%= f.submit 'Update Inning', class: 's-button', data: {confirm: 'Are you sure you want to update this inning?'} %>
<% end %>