<h1><%= link_to facade.turing_module.name, turing_module_path(facade.turing_module) %></h1>
<%= render partial: "shared/attendance_details", locals: {attendance: facade.attendance, updatable: false} %>
<h1>Transfer Student Attendances to Populi</h1>
<h3>To transfer these attendance results to Populi, you must first create the Populi attendance record by following these steps:</h3>
<ol>
  <li>In Populi under My Course -> Attendance, select the corresponding Attendance time slot</li>
  <li>Click the link "All Excused" to give each student a temporary status</li>
  <li>Select the appropriate checkboxes for "Fulfills Attnd. Hrs." and "Fulfills Clinical Hrs."</li>
  <li>Scroll to the bottom of the page and click "Save Attendance"</li>
</ol>

<%= form_with url: attendance_populi_transfer_index_path(facade.attendance), method: :post do |f| %>
  <h3>Please select the attendance time slot to transfer to:</h3>
  <%= f.select :populi_meeting_id, facade.populi_meeting_options, selected: facade.populi_meeting_selection %>
  <%= f.submit "Transfer Student Attendances to Populi", id: "populi-attendance-transfer", class: "s-button" %>
<% end %>
