<h1><%= @inning.name %> Inning</h1>

<% if !@inning.turing_modules.empty? %>
    <h3>Modules</h3>

    <table>
        <% @inning.turing_modules.each do |mod| %>
        <tr>
            <td><%= link_to mod.name, turing_module_path(mod) %>---</td>
            <td><%= link_to 'Take Attendance for this Module', "/turing_modules/#{mod.id}/attendances/new" %></td>
        </tr>
        <% end %>
    </table>
<% end %>
<br><br>
<hr>
<h3>Create a New Module for the <%= @inning.name %> inning: </h2>

<%= form_with url:'/turing_modules', method: :post, local: true do |f| %>
    <%= f.hidden_field :inning_id, value: @inning.id %>
    <%= f.label "Module Name:" %>
    <%= f.text_field :name, placeholder: 'Ex: BE Mod 3, FE Mod 1' %><br><br>
    <%= f.label "Spreadsheet Link:" %>
    <%= f.text_field :google_spreadsheet_link, placeholder: 'Attendance Sheet URL' %><br><br>
    <%= f.label "Tab Name:"%>
    <%= f.text_field :google_sheet_name, placeholder: 'Ex: 2105, 2107, etc.'  %><br><br>
    <%= f.submit "Create New Module" %>
<% end %>



