<table id='student-attendances' class="sortable">
  <thead>
    <tr>
      <th>Student</th>
      <th>Join Time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% facade.student_attendances.each do |student_attendance| %>
      <tr id='student-attendance-<%= student_attendance.id %>' class='student-attendance'>
        <section id='student-<%= student_attendance.student.id %>'>
          <td><%= link_to student_attendance.student.name, student_path(student_attendance.student) %></td>
          <% if student_attendance.join_time %>
            <td><%= pretty_time(student_attendance.join_time) %></td>
          <% else %>
            <td>N/A</td>
          <% end %>
          <td class='<%= student_attendance.status %>'><%= student_attendance.status %></td>
        </section>
      </tr>
    <% end %>
  </tbody>
</table>
