<h3>Type: Slack Thread</h3>
<h3>Thread Link: <%= facade.thread_link %></h3>
<h3>Date: <%= facade.attendance_date %></h3>
<h3>Attendance Time: <%= facade.attendance_time %> <%= link_to "Update Attendance Time", edit_attendance_path(facade.attendance) if facade.updatable %></h3>
<p><strong>Present: <%= facade.status_count(:present) %>, Tardy: <%= facade.status_count(:tardy) %>, Absent: <%= facade.status_count(:absent) %></strong></p>
<%= link_to "Transfer Student Attendances to Populi", new_attendance_populi_transfer_path(facade.attendance) if facade.updatable %>

<table id='student-attendances' class="sortable">
  <thead>
    <tr>
      <th>Student</th>
      <th>Join Time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% facade.student_attendances.each do |student_attendance| %>
      <tr id='student-attendance-<%= student_attendance.id %>' class='student-attendance'>
        <section id='student-<%= student_attendance.student.id %>'>
          <td><%= link_to student_attendance.student.name, student_path(student_attendance.student) %></td>
          <% if student_attendance.join_time %>
            <td><%= pretty_time(student_attendance.join_time) %></td>
          <% else %>
            <td>N/A</td>
          <% end %>
          <td class='<%= student_attendance.status %>'><%= student_attendance.status %></td>
        </section>
      </tr>
    <% end %>
  </tbody>
</table>
