<%= form_with model: [mod, attendance], local: true, id: 'take-attendance' do |f| %>
  <p class='s-p'>
    <%= f.label :zoom_meeting_id, "Enter the Zoom Meeting ID" %>
    <%= f.text_field :zoom_meeting_id %>
  </p>

  <p class='s-p'>
    <%= f.check_box :populate_students %>
    <%= f.label :populate_students, "Use this meeting to add students to your module" %>
  </p>
  <%= f.submit 'Take Attendance', class: 's-button' %>
<% end %>
