<h3>Title: <%= facade.meeting_title %></h3>
<h3>Type: Zoom Meeting</h3>
<h3>Meeting ID: <%= facade.meeting_id %></h3>
<h3>Date: <%= facade.attendance_date %></h3>
<h3>Attendance Time: <%= facade.attendance_time %> <%= link_to "Update Attendance Time", edit_attendance_path(facade.attendance) if facade.updatable %></h3>
<p><strong>Present: <%= facade.status_count(:present) %>, Tardy: <%= facade.status_count(:tardy) %>, Absent: <%= facade.status_count(:absent) %></strong></p>
<%= link_to "Transfer Student Attendances to Populi", new_attendance_populi_transfer_path(facade.attendance) if facade.updatable %>

<p>Use the zoom alias fields to correct student attendances</p>
<table id='student-attendances' class="sortable">
  <thead>
    <tr>
      <th>Student</th>
      <th>Join Time</th>
      <th>Status</th>
      <th>Duration (minutes)</th>
      <th>Zoom Aliases Used</th>
      <th>Save a new Zoom Alias</th>
    </tr>
  </thead>
  <tbody>
    <% facade.student_attendances.each do |student_attendance| %>
      <tr id='student-attendance-<%= student_attendance.id %>' class='student-attendance'>
        <section id='student-<%= student_attendance.student.id %>'>
          <td><%= link_to student_attendance.student.name, student_path(student_attendance.student) %></td>
          <% if student_attendance.join_time %>
            <td><%= pretty_time(student_attendance.join_time) %></td>
          <% else %>
            <td>N/A</td>
          <% end %>
          <td class='<%= student_attendance.status %>'><%= student_attendance.status %></td>
          <td class='duration'><%= student_attendance.duration %></td>
          <td class="alias-used">
            <%= student_attendance.student.zoom_alias_names.to_sentence %>
            <%= link_to "Edit", student_path(student_attendance.student), class: "s-button danger alias-correction" %>
          </td>
          <td id='student-aliases-<%= student_attendance.student.id %>'>
            <%= form_with model: [@attendance, student_attendance.student], class: "alias-correction" do |f| %>
              <%= f.select :zoom_alias, facade.alias_options_for(student_attendance.student), {}, class: "alias-correction" %>
              <%= f.submit "Save Zoom Alias", class: "s-button alias-correction" %>
            <% end %>
          </td>
        </section>
      </tr>
    <% end %>
  </tbody>
</table>
