<p>Use the zoom alias fields to correct student attendances</p>
<table id='student-attendances' class="sortable">
  <thead>
    <tr>
      <th>Student</th>
      <th>Join Time</th>
      <th>Status</th>
      <th>Duration (minutes)</th>
      <th>Zoom Aliases Used</th>
      <th>Save a new Zoom Alias</th>
    </tr>
  </thead>
  <tbody>
    <% facade.student_attendances.each do |student_attendance| %>
      <tr id='student-attendance-<%= student_attendance.id %>' class='student-attendance'>
        <section id='student-<%= student_attendance.student.id %>'>
          <td><%= link_to student_attendance.student.name, student_path(student_attendance.student) %></td>
          <% if student_attendance.join_time %>
            <td><%= pretty_time(student_attendance.join_time) %></td>
          <% else %>
            <td>N/A</td>
          <% end %>
          <td class='<%= student_attendance.status %>'><%= student_attendance.status %></td>
          <td class='duration'><%= student_attendance.duration %></td>

          <% if student_attendance.absent? %>
            <td class="alias-used">N/A</td>
          <% else %>
            <td class="alias-used"><%= student_attendance.student.zoom_alias_names.to_sentence %>
            <%= form_with model: [@attendance, student_attendance.student], class: "alias-correction" do |f| %>
              <%= f.hidden_field :zoom_alias, value: nil %>
              <%= f.submit "Undo", class: "s-button danger alias-correction" %>
            <% end %>
            </td>
          <% end %>

          <% unless student_attendance.present? %>
            <td id='student-aliases-<%= student_attendance.student.id %>'>
              <%= form_with model: [@attendance, student_attendance.student], class: "alias-correction" do |f| %>
                <%= f.select :zoom_alias, facade.alias_options_for(student_attendance.student), {}, class: "alias-correction" %>
                <%= f.submit "Save Zoom Alias", class: "s-button alias-correction" %>
              <% end %>
            </td>
          <% end %>
        </section>
      </tr>
    <% end %>
  </tbody>
</table>
