<p>Use the zoom alias fields to correct student attendances</p>
<table id='student-attendances' class="sortable">
  <thead>
    <tr>
      <th>Student</th>
      <th>Status</th>
      <th>Join Time</th>
      <th>Zoom Alias</th>
    </tr>
  </thead>
  <tbody>
    <% facade.student_attendances.each do |student_attendance| %>
      <tr id='student-attendance-<%= student_attendance.id %>' class='student-attendance'>
        <section id='student-<%= student_attendance.student.id %>'>
          <td><%= link_to student_attendance.student.name, student_path(student_attendance.student) %></td>
          <% if student_attendance.join_time %>
            <td><%= pretty_time(student_attendance.join_time) %></td>
          <% else %>
            <td>N/A</td>
          <% end %>
          <td class='<%= student_attendance.status %>'><%= student_attendance.status %></td>
          <% unless student_attendance.present? %>
            <td id='student-aliases-<%= student_attendance.student.id %>'>
              <%= form_with  model: [@attendance, student_attendance.student] do |f| %>
                <%= f.select :zoom_alias, facade.alias_options_for(student_attendance.student) %>
                <%= f.submit "Save Zoom Alias" %>
              <% end %>
            </td>
          <% end %>
        </section>
      </tr>
    <% end %>
  </tbody>
</table>
