<h2>Import Zoom Accounts From Zoom Meeting</h2>
<p>Note: We highly recommend using a Meeting where you are most likely to have ALL students show. For example, the Mod Kick Off on day 1.</p>
<%= form_with url: new_turing_module_account_match_path(@module), method: :get, local: true do |f| %>
    <p class='s-p'>
        <%= f.label :zoom_meeting_id, "Enter a Zoom Meeting ID: " %>
        <%= f.text_field :zoom_meeting_id %>
    </p>
    <%= f.submit 'Import Zoom Accounts From Meeting', class: 's-button' %>
<% end %>

<br><br>

<%= image_tag('zoom_id_gif.gif') %>
