<%= form_with model: @student, local: true do |f| %>
  <p class='s-p'>
    <%= f.label :name, 'Name: ' %>
    <%= f.text_field :name %>
  </p>
  <p class='s-p'>
    <%= f.label 'Zoom ID: ' %>
    <%= f.text_field :zoom_id %>
  </p>
  </p>
    <p class='s-p'>
    <%= f.label 'Slack Account: ' %>
    <%= f.text_field :slack_id %>
  </p>
  <%= f.submit 'Save Changes', class: 's-button', data: {confirm: 'Are you sure you want to update this student?'} %>
<% end %>
