<h1 class='module-header'><%= link_to @module.name, turing_module_path(@module) %></h1>
<h3 class='s-h3'>Students</h3>
<table id='students'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Zoom Name</th>
      <th>Slack Id</th>
      <th>Populi ID</th>
    </tr>
  </thead>
  <tbody>
    <% @module.students.each do |student| %>
      <tr class='student' id='student-<%= student.id %>'>
        <td><%= link_to student.name, student_path(student) %></td>
        <td class='zoom-name'><%= student.zoom_name %></td>
        <td class='slack-id'><%= student.slack_id %></td>
        <td class='populi-id'><%= student.populi_id %></td>
      </tr>
    <% end %>  
  </tbody>
</table>
