<h1 class='s-h1'><%= @module.name %></h1>
<h3 class='s-h3'>Students</h3>
<%= link_to 'Add a Student', new_turing_module_student_path(@module), class: 's-button'%>
<table id='students'>
  <tr>
    <th>Name</th>
    <th>Zoom Email</th>
    <th>Zoom ID</th>
  </tr>
  <% @module.students.each do |student| %>
    <tr class='student' id='student-<%= student.id %>'>
      <td><%= link_to student.name, turing_module_student_path(@module, student) %></td>
      <td><%= student.zoom_email %></td>
      <td><%= student.zoom_id %></td>
    </tr>
  <% end %>
</table>
