<h1 class='s-h1'><%= @module.name %></h1>
<h3 class='s-h3'>Students</h3>
<table id='students'>
  <tr>
    <th>Name</th>
    <th>Zoom Email</th>
    <th>Zoom ID</th>
  </tr>
  <% @module.students.each do |student| %>
    <tr class='student' id='student-<%= student.id %>'>
      <td><%= student.name %></td>
      <td><%= student.zoom_email %></td>
      <td><%= student.zoom_id %></td>
    </tr>
  <% end %>
</table>
