<h1 class='s-h1'><%= link_to @module.name, turing_module_path(@module) %></h1>
<h3 class='s-h3'>Students</h3>
<%= link_to 'Add a Student', new_turing_module_student_path(@module), class: 's-button'%>
<table id='students'>
  <tr>
    <th>Name</th>
    <th>Zoom ID</th>
    <th>Slack ID</th>
  </tr>
  <% @module.students.each do |student| %>
    <tr class='student' id='student-<%= student.id %>'>
      <td><%= link_to student.name, student_path(student) %></td>
      <td><%= student.zoom_id %></td>
      <% if student.slack_id %>
       <td><%= student.slack_id %></td>
      <% elsif !@module.slack_members.empty? %>
        <td>
          <%= form_tag(student_path(student.id), method: "patch") do %>
            <%= select_tag(:slack_id, options_for_select(slack_members(@module)), {class: "select-field"}) %>
            <%= submit_tag('Connect', class: "button") %>
          <% end %>
        </td>
      <% else %>
        <%= link_to "Import Slack Channel", turing_module_slack_channel_import_path(@module) %>
      <% end %>

    </tr>
  <% end %>
</table>
