<h1 class='s-h1'><%= link_to @module.name, turing_module_path(@module) %></h1>
<h3 class='s-h3'>Students</h3>
<%= link_to 'Add a Student', new_turing_module_student_path(@module), class: 's-button'%>
<table id='students'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Zoom ID</th>
      <th>Populi ID</th>
    </tr>
  </thead>
  <tbody>
    <% @module.students.each do |student| %>
      <tr class='student' id='student-<%= student.id %>'>
        <td><%= link_to student.name, student_path(student) %></td>
        <td><%= student.zoom_id %></td>
        <td class='populi_id'><%= student.populi_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
