<h1 class='s-h1'><%= @student.name %></h1>
<% if @student.turing_module %>
  <h2 class="inline">Module: <%= link_to @module.name, turing_module_path(@module) %></h2>
  <%= form_with model: @student, id: "remove-student-button" do |f| %>
    <%= f.hidden_field :turing_module_id, value: nil %>
    <%= f.submit "Remove from this Module", class: "s-button danger" %>  
  <% end %>
<% else %>
  <h2>Module: none</h2>  
<% end %>
<section >
<h2>Zoom Aliases Used</h2>
<ul id="aliases-used">
  <% @student.zoom_aliases.each do |zoom_alias| %>
    <li id="zoom-alias-<%= zoom_alias.id %>">
      <%= zoom_alias.name %>
      <%= form_with model: zoom_alias, local: true do |f| %>
        <%= f.hidden_field :student_id, value: nil %>
        <%= f.submit "Remove" , class: "remove-alias" %>
      <% end %>
      </li>
  <% end %>
</ul>
</section>
<% if @student.slack_id %>
    <h2>Slack ID: <%= @student.slack_id %></h2>
<% else %>
    <h2>Slack ID: Not Yet Assigned</h2>
<% end %>
