<h2>Connect Accounts</h2>
<p>Use the drop downs below to match each Populi Student to their Slack and Zoom accounts.</p>
<p>Select "Not in Channel" or "Not Present" for any students that don't have a matching account.</p>
<p>When are you done, click the button at the bottom of the page to connect accounts.</p>

<%= form_with url: turing_module_account_match_index_path(facade.module), method: :post, data: {turbo: false}, id: "account-match" do |f| %>
  <%= f.hidden_field :zoom_meeting_id, value: facade.zoom_meeting.meeting_id %>
  <table class='s-table', id='account-match-table'>
    <thead>
      <tr>
        <th>Student</th>
        <th>Slack Name</th>
        <th>Zoom Name</th>
      </tr>
    </thead>
    <tbody>
      <% facade.module.students.each do |student| %>
        <tr id='student-<%= student.id %>'>
          <td class='student-name'><h2><%= student.name %></h2></td>
          <td class='slack-select'>
            <%= f.select "student[#{student.id}][slack_id]", facade.slack_options(student), selected: facade.best_matching_slacker(student) %>
          </td>

          <td class='zoom-select'>
            <%= f.select "student[#{student.id}][zoom_id]", facade.zoom_options(student), selected: facade.best_matching_zoomer(student) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
  <%= f.submit 'Connect Accounts', class: 's-button', id: "connect-accounts" %>
<% end %>