<% if @populi_students %>

  <%= form_with url: "/modules/#{@module.id}/populi" do |f| %>
    <% @module.students.each do |student| %>
      <section id='student-<%= student.id %>'>
        <p>
          <%= student.name %>
          <%= f.select("populi_students[#{student.id}]", @populi_students, selected: find_jarow_match(student, @populi_students)) %>
        </p>
      </section>
    <% end %>

    <%= f.submit 'Submit' %>
  <% end %>
<% else %>
  <p>Sorry, there are no students from that module. Perhaps you were looking for last inning's modules?</p>

<% end %>
