<% if @populi_students %>  
  <strong>Please make sure each Student matches the Populi Student in the drop down</strong>
  <%= form_with url: "/modules/#{@module.id}/populi", local: true do |f| %>
  <table>
    <thead>
      <tr>
        <td>Student</td>
        <td>Populi Student</td>
      </tr>
    </thead>
    <tbody>
      <% @module.students.each do |student| %>
        <tr id='student-<%= student.id %>'>
          <td><%= student.name %></td>
          <td><%= f.select "populi_students[#{student.id}]", @populi_student_options, selected: student.best_match(@populi_students).personid %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= f.submit 'Integrate with Populi' %>
  <% end %>
<% else %>
  <p>Sorry, we couldn't find any students for that module. Try a different inning?</p>
  <%= form_with url: "/modules/#{@module.id}/term_courses", method: :post, local: true do |f| %>
    <%= f.select(:term_id, @terms) %>
    <%= f.submit %>
  <% end %>
<% end %>
