<strong>Please make sure each Student matches the Populi Student in the drop down</strong>
<%= form_with url: "/modules/#{facade.module.id}/populi", local: true do |f| %>
  <table>
    <thead>
      <tr>
        <td>Student</td>
        <td>Populi Student</td>
      </tr>
    </thead>
    <tbody>
      <% facade.module.students.each do |student| %>
        <tr id='student-<%= student.id %>'>
          <td><%= student.name %></td>
          <td><%= f.select "populi_students[#{student.id}]", facade.student_options, selected: facade.best_matching_id(student) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  
  <%= f.submit 'Integrate with Populi' %>
<% end %>

<p>Select a different term instead</p>
<%= form_with url: "/modules/#{facade.module.id}/term_courses", method: :post, local: true do |f| %>
  <%= f.select(:term_id, @terms) %>
  <%= f.submit %>
<% end %>
