<% if @innings && !@innings.empty? %>
  <h1>Innings</h1>

<section class="innings-list">
  <% @innings.each do |inning| %>
    <ul>
      <%= link_to inning.name, inning_path(inning)%>
      <% if inning.current %>
        (current inning)
      <% end %>
    </ul>
  <% end %>
<% end %>
</section>
<br>
<hr>
<h3>Create a New Inning: </h3>
<%= form_with url:'/user/innings', method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Ex: 1806, 2105, etc.' %>
  <%= f.submit "Submit" %>
<% end %>
