<h1 style="display:inline;"><%= @inning.name %> Inning</h1> <%= "(current inning)" if @inning.current%>
<% if !@inning.current %>
    <%= button_to "Set To Current Inning", inning_path(@inning), method: :patch, form: {style: 'display:inline-block;'} %>
<% end %>

<% if !@inning.turing_modules.empty? %>
    <%= render partial: "shared/module_list", locals: {modules: @inning.turing_modules} %>
<% end %>
<br><br>
<hr>
<h3>Create a New Module for the <%= @inning.name %> inning: </h3>

<%= form_with model: [@inning, TuringModule.new], local: true do |f| %>
    <%= f.label "Program" %>
    <%= f.select(:program, [['Frontend', :FE], ['Backend', :BE], ['Combined', :Combined]]) %>
    <%= f.label "Module Number:" %>
    <%= f.select(:module_number, 1..4) %>
    <%= f.submit "Create New Module" %>
<% end %>
