<!DOCTYPE html>
<html>
  <head>
    <title>Present</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://savile.turing.edu/css/v1/1.1.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Present!</a>
        </div>
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li class="active"><%= link_to "All Innings", root_path %></li>
            <li class="active"><%= link_to 'Log Out', '/sessions', method: :delete %></li>
          <% else %>
            <li class="active"><%= link_to "Sign In With Google", "/auth/google_oauth2" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
